@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply text-white bg-blue-500 m-4 p-2 rounded
}

.form-input{
    @apply border border-gray-600 rounded p-1;
}

.link{
    @apply underline cursor-pointer text-purple-800;
}

.nav-item{
    @apply text-yellow-700;
}

.tbl-header{
    @apply border border-slate-300 bg-slate-500 text-white text-sm;
}

.table-cell {
    @apply border border-slate-300;
}


.dropdown-list {
    @apply py-2 text-sm text-gray-700 dark:text-gray-200;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    @apply z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item:hover {
    @apply bg-slate-50;
}